<div class="container main-container">
    <h2 class="titulo-estado-sensores border-bottom">Estado actual de sensores:</h2>
    <div class="row" *ngFor="let sensor of sensores">
        <div class="col">
            <h4 class="titulo-sensor">Temperatura: <span class="valor-estado">{{sensor.temperatura}}º</span>
                <meter class="meter-sensores" min="0" [attr.low]="configvalores?.temp_min" optimum="20"
                    [attr.high]="configvalores?.temp_max" max="100" [attr.value]="sensor.temperatura"></meter>
            </h4>
        </div>
        <div class="col">
            <h4 class="titulo-sensor">Humedad: <span class="valor-estado">{{sensor.humedad}}%</span>
                <meter class="meter-sensores" min="0" [attr.low]="configvalores?.hum_min" optimum="50"
                    [attr.high]="configvalores?.hum_max" max="100" [attr.value]="sensor.humedad"></meter>
            </h4>
        </div>
        <div class="col">
            <h4 class="titulo-sensor">Luz: <span class="valor-estado">{{sensor.luz}}nm</span>
                <meter class="meter-sensores" min="0" [attr.low]="configvalores?.luz_min" optimum="550"
                    [attr.high]="configvalores?.luz_max" max="1000" [attr.value]="sensor.luz"></meter>
            </h4>
        </div>
        <div class="col">
            <h4 class="titulo-sensor">CO2: <span class="valor-estado">{{sensor.co2}}pm</span>
                <meter class="meter-sensores" min="0" [attr.low]="configvalores?.co2_min" optimum="600"
                    [attr.high]="configvalores?.co2_max" max="1500" [attr.value]="sensor.co2"></meter>
            </h4>
        </div>
    </div>

    <div class="container-graficos">
        <div class="row">
            <div class="col-md-2">
                <h4 class="titulo-botones-graficos border-bottom">Gráficos de registros:</h4>
                <div class="btn-group-vertical btn-group-sm">
                    <button type="button" (click)="showTemp()" class="btn btn-success">Temperatura</button>
                    <button type="button" (click)="showHum()" class="btn btn-success">Humedad</button>
                    <button type="button" (click)="showLuz()" class="btn btn-success">Luz</button>
                    <button type="button" (click)="showCo2()" class="btn btn-success">CO2</button>
                    <button type="button" (click)="showTabla()" class="btn btn-success">Tabla</button>
                </div>
            </div>
            <div class="col-md-10">
                <div *ngIf="temperatura">
                    <h4 class="titulo-graficos border-bottom">Registros de Temperatura:</h4>
                    <app-graph></app-graph>
                </div>
                <div *ngIf="humedad">
                    <h4 class="titulo-graficos border-bottom">Registros de Humedad:</h4>
                </div>
                <div *ngIf="luz">
                    <h4 class="titulo-graficos border-bottom">Registros de Luz:</h4>
                </div>
                <div *ngIf="co2">
                    <h4 class="titulo-graficos border-bottom">Registros de CO2:</h4>
                </div>
                <div *ngIf="tabla">
                    <h4 class="titulo-graficos border-bottom">Tabla de Registros:</h4>
                    <div class="table-wrapper-scroll-y my-custom-scrollbar">
                        <table class="table table-bordered table-striped mb-0">
                          <thead>
                            <tr>
                              <th scope="col">Día</th>
                              <th scope="col">Hora</th>
                              <th scope="col">Temperatura</th>
                              <th scope="col">Humedad</th>
                              <th scope="col">Luz</th>
                              <th scope="col">CO2</th>
                              <th scope="col">Ventilación</th>
                              <th scope="col">Inundación</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let registro of registros">
                              <th scope="row">{{registro.localDate}}</th>
                              <td>{{registro.localTime}}</td>
                              <td>{{registro.temperatura}}</td>
                              <td>{{registro.humedad}}</td>
                              <td>{{registro.luz}}</td>
                              <td>{{registro.co2}}</td>
                              <td>{{registro.ventilacion}}</td>
                              <td>{{registro.inundacion}}</td>
                          </tr>
                          </tbody>
                        </table>
                      </div>
                      <button class="btn btn-default btn-sm btn-act-tabla" (click)="showDataRegistros()">Actualizar</button>
                </div>
            </div>
        </div>
    </div>
</div>