.adminForm {
    margin-top: 25px;
    margin-left: 0;
}

.admin-container{
    margin-top: 0%;
    margin-bottom: 5%;
}

.admin-container form{
    padding: 0 10% 10% 10%;
}

.admin-form-1 input {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: normal;
    font-size: 0.7em;
    height: 25px;
  
    -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
       -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
            box-sizing: border-box;
  }

.admin {
    padding-left: 10%;
    margin-bottom: 15px;
}

.admin h3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    color: #114D45;
    font-size: 0.8em;
}

.admin-control {
    padding: 2% 5% 0 5%;
    margin: 0 22px 0 22px;
    /*
    border-width: thin;
    border-style: solid;
    border-color:#114D45;
    */
}

.admin-control h3 {
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    color: #114D45;
    font-size: 0.8em;    
    text-align: center;
    /*
    border-width: thin;
    border-bottom-style: dotted;
    border-color: #114D45;
    */
}

.admin-control h4 {
    padding-top: 0;
    padding-bottom: 2px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    color: #114D45;
    font-size: 0.8em;    
    text-align: center;
    /*
    border-width: thin;
    border-bottom-style: dotted;
    border-color: #114D45;
    */
    margin-top: 1px;
}

.admin-control .textform-l {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 8px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    color: #114D45;
    font-size: 0.7em;    
    text-align: left;
}

.admin-control .textform-r {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 8px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    color:#114D45;
    font-size: 0.7em;    
    text-align: left;
}

.admin-control .input-data {
    width: 30px;
    margin-left: 3px;
    height: 20px;
    color: #114D45;
}

.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: orange;
    background-color: orange;
}

.custom-control-label {
    padding-top: 0.2em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #114D45;
    font-size: 0.8em;
}

.btnSubmit-act {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 0.9em;
    color: #fff;
    background-color: orange;
    width: 100%;
    border-radius: 1rem;
    margin-top: 8px;
    padding: 0 1.5% 0 1.5%;
    border: none;
    cursor: pointer;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

input[type=number] {
    text-align: center;
}

.form-group  {
    margin-bottom: 10px;
}

.alertas {
    margin-left: 25px;
}

.valor-ref {
    margin-top: 10px;
}