<div id="main">
    <ul id="menu">
        <!-- <li data-menuanchor="fourthPage"><a href="#fourthPage">Acceder</a></li> -->
        <div *ngIf="slideSection">
            <li data-menuanchor="fourthPage"><a style="cursor: pointer" onclick="openNav(); fullpage_api.moveTo('secondPage', 0)">Acceder</a></li>
        </div>
        <div *ngIf="!slideSection">
            <li data-menuanchor="fourthPage"><a style="cursor: pointer" onclick="openNav()">Acceder</a></li>
        </div>
        <!-- <li data-menuanchor="fourthPage"><a style="cursor: pointer" onclick="openNav()">Acceder</a></li> -->
        <li data-menuanchor="thirdPage"><a href="#thirdPage" (click)="slideSectionFalse()">Acerca de</a></li>
        <li data-menuanchor="secondPage"><a href="#secondPage" (click)="slideSectionTrue()">Estado Actual</a></li>
        <li data-menuanchor="firstPage"><a href="#firstPage" (click)="slideSectionFalse()">Inicio</a></li>
    </ul>

    <div fullpage id="fullpage" [options]="config" (ref)="getRef($event)">
        <div class="section" id="section0">
            <video id="myVideo" loop muted data-autoplay>
                <source src="/assets/videos/video2.mp4" type="video/mp4">
                <!-- <source src="/assets/videos/video3.webm" type="video/webm"> -->                
            </video>
            <div class="layer">
                <img class="logo" data-src="/assets/images/logo_horizontal.png">
                <h1>Vivero | TP Taller IV | 2019</h1>
            </div>
        </div>
        <!-- <div class="section" (click)="fullpage_api.moveSectionDown()">Some section2</div> -->
        <div class="section" id="section1">
            <div class="slide">Estado 1</div>
            <div class="slide">Estado 2</div>
            <div class="slide">Estado 3</div>
            <div class="slide">Estado 4</div>
        </div>
        <div class="section" id="section2">Acerca de</div>
    </div>
    <!-- fullpage_api.moveTo('secondPage', 0) -->
    <!-- SIDEBAR -->
    <div id="mySidebar" class="sidebar">
        <div *ngIf="slideSection">
            <a class="cerrarAdmin" style="cursor: pointer" onclick="closeNav(); fullpage_api.moveTo('secondPage', 0)">&times;</a>
        </div>
        <div *ngIf="!slideSection">
            <a class="cerrarAdmin" style="cursor: pointer" onclick="closeNav()">&times;</a>
        </div>
        <!-- LOGIN FORM -->
        <div class="loginForm">
            <div class="container login-container">
                <div class="row">
                    <div class="col-md-12 login-form-1">
                        <div class="admin"><h3>Administración</h3></div>
                        <form>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="usuario" value="" />
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="contraseña" value="" />
                            </div>
                            <div class="form-group">
                                <input type="submit" class="btnSubmit" value="Login" />
                            </div>
                            <!--
                            <div class="form-group">
                                <input type="submit" class="btnSubmit" value="Logout" />
                            </div>
                            -->
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- LOGIN FORM -->
    </div>
    <!-- SIDEBAR -->
</div>