<div id="main">
    <ul id="menu">
        <!-- <li data-menuanchor="fourthPage"><a href="#fourthPage">Acceder</a></li> -->
        <li data-menuanchor="fourthPage"><a style="cursor: pointer" onclick="openNav(), fullpage_api.moveTo('secondPage', 0)">Acceder</a></li>
        <li data-menuanchor="thirdPage"><a href="#thirdPage" (click)="estadoActual(false)">Acerca de</a></li>
        <li data-menuanchor="secondPage"><a href="#secondPage" (click)="estadoActual(true)">Estado Actual</a></li>
        <li data-menuanchor="firstPage"><a href="#firstPage" (click)="estadoActual(false)">Inicio</a></li>
    </ul>

    <div fullpage id="fullpage" [options]="config" (ref)="getRef($event)">
        <div class="section" id="section0">
            <video id="myVideo" loop muted data-autoplay>
                <source src="/assets/videos/video2.mp4" type="video/mp4">
                <!-- <source src="/assets/videos/video3.webm" type="video/webm"> -->                
            </video>
            <div class="layer">
                <img class="logo" data-src="/assets/images/logo_horizontal.png">
                <h1>Vivero | TP Taller IV | 2019</h1>
            </div>
        </div>
        <!-- <div class="section" (click)="fullpage_api.moveSectionDown()">Some section2</div> -->
        <div class="section" id="section1">
            <div class="slide">Estado 1</div>
            <div class="slide">Estado 2</div>
            <div class="slide">Estado 3</div>
            <div class="slide">Estado 4</div>
        </div>
        <div class="section" id="section2" (click)="fullpage_api.moveTo('secondPage', 2)">Acerca de</div>
    </div>

    <!-- SIDEBAR -->
    <div id="mySidebar" class="sidebar">
        <a style="cursor: pointer" onclick="closeNav(), fullpage_api.moveTo('secondPage', 0)">&times;</a>
        <a href="#"></a>
        <a href="#"></a>
        <a href="#"></a>
        <a href="#"></a>
    </div>
    <!-- SIDEBAR -->
</div>